<div class="container">
    <section>
        <h1>Impressum</h1>
        <h2><span>Anbieter</span></h2>
        <p>
        <span>Alexander Hörst <br> Musterstraße 1 <br> 12345 Musterstadt</span></p>
        <h2><span>Kontakt</span></h2>
        <p><span>E-Mail: hoerst.alexander&#64;gmail.com <br> Telefon: 12345 254645363</span></p>
        <h2><span>Haftungsausschluss</span></h2>
        <p>Wir sind für die Inhalte unserer Internetseiten nach den Maßgaben der allgemeinen Gesetzen
            verantwortlich. Alle Inhalte werden mit der gebotenen Sorgfalt und nach bestem Wissen erstellt. Soweit wir auf
            unseren Internetseiten mittels Hyperlink auf Internetseiten Dritter verweisen, können wir keine Gewähr für die
            fortwährende Aktualität, Richtigkeit und Vollständigkeit der verlinkten Inhalte übernehmen, da diese Inhalte
            außerhalb unseres Verantwortungsbereichs liegen und wir auf die zukünftige Gestaltung keinen Einfluss haben.
            Sollten aus Ihrer Sicht Inhalte gegen geltendes Recht verstoßen oder unangemessen sein, teilen Sie uns dies
            bitte mit.</p>
        <p>Die rechtlichen Hinweise auf dieser Seite sowie alle Fragen und Streitigkeiten im Zusammenhang mit
            der Gestaltung dieser Internetseite unterliegen dem Recht der Bundesrepublik Deutschland.</p>
        <h2><span>Urheberrechtshinweis</span></h2>
        <p>Die auf unserer Internetseite vorhandenen Texte, Bilder, Fotos, Videos oder Grafiken unterliegen in
            der Regel dem Schutz des Urheberrechts. Jede unberechtigte Verwendung (insbesondere die Vervielfältigung,
            Bearbeitung oder Verbreitung) dieser urheberrechtsgeschützten Inhalte ist daher untersagt. Wenn Sie
            beabsichtigen, diese Inhalte oder Teile davon zu verwenden, kontaktieren Sie uns bitte im Voraus unter den oben
            stehenden Angaben. Soweit wir nicht selbst Inhaber der benötigten urheberrechtlichen Nutzungsrechte sein
            sollten, bemühen wir uns, einen Kontakt zum Berechtigten zu vermitteln.</p>
        <p><span>Erstellt mit freundlicher Unterstützung von <a
            href="https://www.dieter-datenschutz.de/" [class.active-link]="legal.isActive" (mousedown)="legal.isActive = true">Dieter macht den Datenschutz</a></span></p>
    </section>
</div>