@import './../../../styles.scss';

.container {
    width: 100%;
    display: flex;

    > div {
        width: 100%;
    }

    .headline {
        display: flex;
        flex-direction: column;

        h2 {
            color: $primaryColor;
            margin: 5px 0;
        }

        span {
            color: $secandColor;
            margin-bottom: 20px;
        }
    }

    .references-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

        .references-item-container {
            display: flex;
            width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
        }

        .references-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 280px;
            height: 160px;
            border: 1px solid $primaryColor;
            border-radius: 30px;

            .line {
                background-color: $primaryColor;
                height: 80%;
                width: 2px;
            }
        }
    }
}

.arrow-container {
    display: none;
}

@media only screen and (min-width: 720px) and (min-height: 570px) {
    .container {
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding-left: 60px;
        font-size: 14px;
        line-height: 21.6px;
    }

    .references-container {
        display: flex;
        flex-direction: row !important;
        align-items: end;
        gap: 20px;
        height: 80%;
        width: 100%;
        justify-content: center;
        color: $secandColor;
        position: relative;

        .references-header {
            flex: 1;
            width: 80px;
            display: flex;
            flex-direction: column;

            .headline {
                cursor: pointer;
                position: relative;
                height: 260px;
                display: flex;
                flex-direction: row !important;
                align-items: center;

                h2 {
                    position: absolute;
                    text-decoration: none;
                    transform-origin: 0 50%;
                    transform: rotate(270deg) translate(-50%, 0);
                    text-align: center;
                    font-size: 62px;
                    font-weight: 400;
                    width: 260px;
                    left: 40px;
                    margin: 0;
                    color: transparent;
                    white-space: nowrap;
                }
            }
        }

        .references-item-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            .references-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 500px;
                height: 160px;
                border: 1px solid $primaryColor;
                border-radius: 30px;

                .line {
                    background-color: $primaryColor;
                    height: 80%;
                    width: 2px;
                }
            }
        }
    }

    .arrow-container {
        display: flex;
        align-self: flex-start;
        margin-left: 80px;
        padding-right: 20px;
        height: 340px;

        app-arrow {
            margin-bottom: 10px;
            align-self: flex-end;
        }
    }
}