<div class="container">
    <div class="project-container">
        <div class="project-header-container">
            <h3 class="number-project">{{item.id}}</h3>
            <h3 translate="no">{{item.title}}</h3>
        </div>
        <div class="content-container">
            <div>
                <ul>
                    <li>
                        <div>
                            <span class="headline-text">{{item.text[0].headline}}</span>
                            <span>{{item.text[0].text}}</span></div>
                    </li>
                    <li [class.show-less]="isShowMore == false">
                        <div>
                            <span class="headline-text">{{item.text[1].headline}}</span>
                            <span>{{item.text[1].text}}</span>
                        </div>
                    </li>
                    <li [class.show-less]="isShowMore == false">
                        <div>
                            <span class="headline-text">{{item.text[2].headline}}</span>
                            <span>{{item.text[2].text}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="img-btn-container" [class.show-less]="isShowMore == false">
                <img src="assets/img/{{item.img}}" alt="">
                <div class="button-container">
                    <app-outerline-button [href]="item.github" [name]="'GitHub'"></app-outerline-button>
                    <app-button [href]="item.livelink" [name]="'Live Test'"></app-button>
                </div>
            </div>
        </div>
        <div class="show-me" [class.show-less]="isShowMore == true" (click)="showMore()">
            <span translate>Show me more</span>
            <img src="assets/img/down-arrow.svg" alt="down">
        </div>
    </div>
    <div class="show-me" [class.show-less]="isShowMore == false" (click)="showLess()">
        <span translate>Show me less</span>
        <img src="assets/img/up-arrow.svg" alt="up">
    </div>
</div>