<div class="container">
    <div>
        <div class="skill-container">
            <div>
                <div class="skill-header">
                    <div class="headline">
                        <h2 class="outline-text">My Skill Set</h2>
                    </div>
                </div>
            </div>
            <div class="text-icon-container">
                <span>The IT landscape is continuously evolving, with new technologies and methodologies. Staying
                    motivated to expand my IT skills requires a strategic approach, a curious mindset, and a commitment
                    to lifelong learning.</span>
                <div class="icons-text-container">
                    <div class="icon-container">
                        <app-icons-name *ngFor="let iconItem of icon" [icon]="iconItem"></app-icons-name>
                    </div>
                </div>
                <span class="new-skill">I am always happy to learn new technologies,
                    just tell me what you need.
                </span>           
            </div>
            <app-button class="hiden-mobile" [href]="'contact'" [name]="btnText"></app-button>
        </div>
    </div>
    <div class="arrow-container">
        <app-arrow [href]="'my-work'"></app-arrow>
    </div>
</div>