<div class="container">
    <div>
        <div class="contact-container">
            <div>
                <div class="contact-header">
                    <img src="assets/img/contact.svg" alt="">
                </div>
            </div>
            <div class="contact-input-container">
                <input type="text" placeholder="Your name">
                <input type="email" name="" id="" placeholder="Your e-mail">
                <textarea name="" id="" placeholder="Your message"></textarea>
                <div class="policy-container">
                    <input class="checkbox" type="checkbox" name="" id="">
                    <span>I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.</span>
                </div>
                <app-button [name]="'Send'"></app-button>
            </div>
        </div>
    </div>
    <div class="arrow-text-container">
        <div>
            <span>Let us work together.</span><br>
            <span>Encourage people to contact you and describe what role you are interested in. Express confidence in your ability to make a meaningful contribution to a team through your expertise and enthusiasm for improving your skills.</span>
            <div>
                <img src="" alt="">
                <span >E-mail: hoerst.alexander&#64;gmail.com</span>
            </div>
            <div>
                <img src="" alt="">
                <span>Tel: 01575 2102518</span>
            </div>
        </div>
        <app-arrow></app-arrow>
        <div>
            <a href="">Legal notice</a>
            <a href="">privacy policy</a>
            <p>&copy; Alexander Hörst 2025</p>
        </div>
    </div>
</div>