<div class="container">
    <div  class="my-work-container">
        <div>
            <div class="my-work-header">
                <div class="headline">
                    <h2 class="outline-text">{{ 'My_Work.TITLE' | translate }}</h2>
                </div>
            </div>
        </div>
        <div class="project-container">
            <app-project class="hide-desktop" *ngFor="let item of projects; let i = index;" [item]="item"></app-project>
            <app-project-mobile class="hide-mobile" *ngFor="let item of projects; let i = index;" [item]="item"></app-project-mobile>
        </div>
        <div class="ongoing-container">
            <div class="ongoing-header">
                <h3 class="number-project">4</h3>
                <h3>Ongoing project</h3>
            </div>
            <div class="ongoing-btn-text">
                <span>Are you currently working on a project? What is it about and what technologies are you using? Emphasise that good planning and execution are essential to the success of your work and to achieving great results.</span>
                <app-button class="hide-desktop" [href]="'contact'" [name]="btnText"></app-button>
            </div>
        </div>
    </div>
    <div class="arrow-container">
        <app-arrow [href]="'references'"></app-arrow>
    </div>
</div>