@import './../../../../styles.scss';

.hero-container {
    display: flex;
    height: 100%;
    width: calc(100vw - 100px);
    padding: 100px 0px 100px 80px;

    .profile-container {
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 400px;
            width: 300px;
        }
 
        .profil-name-container {
            position: absolute;
            bottom: 50px;

            h1 {
                font-size: 80px;
                font-weight: 700;
                color: $primaryColor;
                margin: 0;
            }

            h2 {
                font-size: 40px;
                color: #000000;
                font-weight: 700;
                margin: 0;
                text-align: end;
                text-shadow: -1px 0 $primaryColor, 0 1px $primaryColor, 1px 0 $primaryColor, 0 -1px $primaryColor;
            }
            
            img {
                height: 36px;
            }
        }

    }

    .arrow-container {
        display: flex;
        align-self: flex-start;
        align-items: start;

        app-arrow {
            padding-right: 20px;
            align-self: flex-start;
        }
    }
}

@media (max-height: 600px) {
    .hero-container {
        margin-left: 65px;
    }

    .profil-name-container {
        width: 100%;
    }
}