@import './../../../styles.scss';

button {
    background-color: transparent;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 25px;
    padding: 10px 25px;
    cursor: pointer;
}