<div class="project-container">
    <div class="project-header-container">
        <h2>{{item.id}}</h2>
        <h2>{{item.title}}</h2>
    </div>
    <div class="content-container">
        <div>
            <ul>
                <li>
                    <div>
                        <span class="headline-text">{{item.text[0].headline}}</span>
                        <span>{{item.text[0].text}}</span></div>
                </li>
                <li>
                    <div>
                        <span class="headline-text">{{item.text[1].headline}}</span>
                        <span>{{item.text[1].text}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="img-btn-container">
            <img src="assets/img/join-screenshot.svg" alt="">
            <div class="button-container">
                <app-outerline-button [href]="item.github" [name]="'GitHub'"></app-outerline-button>
                <app-button [href]="item.livelink" [name]="'Live Test'"></app-button>
            </div>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <div>
                    <span class="headline-text">{{item.text[2].headline}}</span>
                    <span>{{item.text[2].text}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>