<div class="project-container">
    <div class="project-header-container">
        <h2>{{item.id}}</h2>
        <h2>{{item.title}}</h2>
    </div>
    <div class="content-container">
        <div>
            <ul>
                <li>
                    <div>
                        <span>About the project</span>
                        <span>Task manager inspired by the Kanban System. Create and
                            organize tasks using drag and drop functions, assign users and categories.</span></div>
                </li>
                <li>
                    <div>
                        <span>Technologies I have used</span>
                        <span>Angular, TypeScript, HTML, CSS, Firebase</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="img-btn-container">
            <img src="assets/img/join-screenshot.svg" alt="">
            <div class="button-container">
                <app-outerline-button [name]="'GitHub'"></app-outerline-button>
                <app-button [name]="'Live Test'"></app-button>
            </div>
        </div>
    </div>
    <div>
        <ul>
            <li>
                <div>
                    <span>What I have learned</span>
                    <span>Maybe you used a certain technology for the first time? Have
                        you learnt more about how to keep your code clean or how to organise the components in your
                        projects?</span>
                </div>
            </li>
        </ul>
    </div>
</div>