@import './../../../../styles.scss';

.project-container {
    background-color: rgba(181, 233, 59, 0.30);
    padding: 10px 10px;
    border-radius: 20px;

    .project-header-container {
        color: $primaryColor;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 60px;

        h3 {
            text-align: center;
            font-size: 40px;
            font-weight: 400;
            margin: 0;
        }

        .number-project {
            font-size: 68px !important;
            font-weight: 700;
            color: transparent;
            -webkit-text-stroke: 1px $primaryColor;
            text-stroke: 1px $primaryColor;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;

        .img-btn-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                margin-bottom: 10px;
            }

            .button-container {
                width: 210px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    
    li {
        list-style: none;
        position: relative;

        &::before {
            content: '•';
            width: 30px;
            position: absolute;
            left: -20px;
            color: transparent;
            -webkit-text-stroke: 1.5px $primaryColor;
            text-stroke: 1.5px $primaryColor;
            font-size: 22px;
            font-weight: 700;
        }


        >div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
        }
    }

    .headline-text {
        font-size: 17px;
    }

    span {
        color: $secandColor;
    }
}

@media only screen and (min-width: 720px) and (min-height: 570px) {
    .project-container {
        background-color: rgba(181, 233, 59, 0.30);
        padding: 20px 30px;
        border-radius: 20px;
        width: 700px;
        height: 450px;
    }

    .project-header-container {
        color: $primaryColor;
        display: flex;
    }

    .content-container {
        display: flex;
        flex-direction: row !important;

        .img-btn-container {
            width: 300px !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;

            img {
                width: 300px !important;
                margin-bottom: 10px;
            }

            .button-container {
                width: 220px !important;
                display: flex;
                gap: 10px;
                justify-content: space-between;
            }
        }
    }
}