@import './../../styles.scss';

app-social-media {
    display: flex;
    justify-content: end;
    align-items: end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 85%;
    height: 60px;
}

.container {
    display: flex;
    background: linear-gradient(88.66deg, #000000 11.41%, #2C2B2B 22.29%, #0B0A0A 37.32%, #323232 58.54%, #0B0A0A 70.03%);
    padding: 60px 0;
}

app-footer-desktop {
    height: 100%;
}
