@import './../../../styles.scss';

.container {
    padding: 20px;
    width: 100%;
}

@media only screen and (min-width: 720px) and (min-height: 570px)  {
    .container {
        padding: 20px;
        height: 100%;
        overflow: visible;
        width: 100%;
    }

    section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 20px;
        overflow: hidden;

        h1, h2, h3, p, ul, span {
            width: calc(100vw - 130px);
            break-inside: avoid; // Verhindert Umbruch innerhalb des Elements
            margin: 10px 0;
            margin-right: 20px;
        }

        h1, h2, h3 {
            color: $primaryColor !important;
        }

        li {
            margin-right: 20px;
        }

        a {
            color: $secandColor !important;
    
            &:hover {
                color: #D3ED97 !important;
            }
    
            &.active-a {
                color: $primaryColor !important;
                text-decoration: underline;
            }
        } 
    }
}