$primaryColor: #B5E93B;
$frontColor: #4A4A4A;
$secandColor: #FFFDFD;

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Quantico', Arial, Helvetica, sans-serif;
}

/* quantico-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: url('../public/assets/fonts/quantico-v17-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quantico-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quantico';
  font-style: italic;
  font-weight: 400;
  src: url('../public/assets/fonts/quantico-v17-latin-italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quantico-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  src: url('../public/assets/fonts/quantico-v17-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* quantico-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Quantico';
  font-style: italic;
  font-weight: 700;
  src: url('../public/assets/fonts/quantico-v17-latin-700italic.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

app-root {
  display: flex;
  height: 100%;
}

app-nav-desktop {
  width: 100px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

app-landing-page {
  margin-left: 100px;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  position: relative;
}
