$primaryColor: #b5e93b;
$frontColor: #4a4a4a;
$secandColor: #fffdfd;

html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quantico", Arial, Helvetica, sans-serif;
}

@font-face {
  font-display: swap;
  font-family: "Quantico";
  font-style: normal;
  font-weight: 400;
  src: url("../public/assets/fonts/quantico-v17-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Quantico";
  font-style: italic;
  font-weight: 400;
  src: url("../public/assets/fonts/quantico-v17-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Quantico";
  font-style: normal;
  font-weight: 700;
  src: url("../public/assets/fonts/quantico-v17-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Quantico";
  font-style: italic;
  font-weight: 700;
  src: url("../public/assets/fonts/quantico-v17-latin-700italic.woff2") format("woff2");
}

.hide-desktop {
  display: none !important;
}

.hide-mobile {
  display: flex !important;
}

app-nav-mobile {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2000;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-landing-page {
  overflow: hidden;
  display: flex;
  position: relative;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 1px $primaryColor;
  text-stroke: 1px $primaryColor;
  font-size: 32px;
  font-weight: bold;
}

@media (min-width: 720px) {
  app-root {
    flex-direction: row;
  }

  app-landing-page {
    margin-left: 100px !important;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    position: relative;
  }

  app-nav-desktop {
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
  }

  .outline-text {
    color: transparent;
    -webkit-text-stroke: 2px $primaryColor;
    text-stroke: 2px $primaryColor;
    font-size: 48px;
    font-weight: bold;
  }

  .hide-mobile {
    display: none !important;
  }

  .hide-desktop {
    display: flex !important;
  }
}